/*
Fichier css utilisé dans le cadre du projet EcoRide
*/

body {
  background-color: #f4fdf4;
  font-family: 'Segoe UI', sans-serif;
}

    .trouve {
      background-image: url('https://source.unsplash.com/1600x600/?nature,car');
      background-size: cover;
      background-position: center;
      color: white;
      padding: 100px 0;
      text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
    }

    .login-box {
      max-width: 400px;
      margin: 80px auto;
      padding: 30px;
      background: white;
      border-radius: 8px;
      box-shadow: 0 0 10px #2e7d32;
    }
    .login-box h2 {
      margin-bottom: 25px;
      text-align: center;
    }    

    .profile-box {
      background: white;
      border-radius: 8px;
      padding: 30px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .recherche-bg {
      background-image: url('../img/bg_nature.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 600px; /* ajuste selon la hauteur souhaitée */
      padding: 80px 20px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .avis-section {
      background-color: #d1e7dd;
      border-radius: 8px;
    }

    .avis-card {
      border-bottom: 1px solid #bcd0c7;
      padding-bottom: 8px;
      margin-bottom: 8px;
    }

    .avis-card:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    .admin-box {
      background: white;
      border-radius: 8px;
      padding: 30px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .section-title {
      border-bottom: 2px solid #198754;
      padding-bottom: 5px;
      margin-bottom: 15px;
    }

#map {
  height: 400px;
  border-radius: 10px;
}    

footer {
  background-color: #2e7d32;
  color: white;
}
